.ant-modal {
  width: 70% !important;
}

.wj-flexgrid {
  height: 600px;
  width: 100%;
}

.modal-content {
  width: 550px;
}

.antpop {
  /* height: 50%; */
  z-index: 1500 !important;
  position: relative;
}

.ant-dropdown-open {
  z-index: 1600 !important;
  position: relative !important;
}

.itemModal {
  font-size: xx-large !important;
}
